In [13]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [14]:
df= pd.DataFrame({'color':['red', 'blue', 'green', 'green','red', 'blue']})

In [15]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [16]:
encoder = OneHotEncoder()

In [17]:
encoded = encoder.fit_transform(df[['color']]).toarray()

In [18]:
# Correct column naming
encoder_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(['color']))

In [19]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

## One-Hot Encoding Summary

**What is One-Hot Encoding?**
- One-Hot Encoding converts categorical variables into binary vectors
- Each category becomes a separate binary column (0 or 1)
- Eliminates ordinal relationships between categories

**Key Benefits:**
1. No artificial ordinality introduced
2. Each category is treated equally
3. Works well with most machine learning algorithms
4. Prevents algorithms from assuming order in nominal data

**When to Use:**
- Nominal categorical variables (e.g., colors, cities, brands)
- When categories have no inherent order
- Linear models and neural networks
- When you have a small number of unique categories

**Limitations:**
- Can create high-dimensional data (curse of dimensionality)
- Not suitable for high-cardinality categorical variables