Pandas- DataFrame & Series

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the 'C:\Users\ASUS\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

Series

In [5]:
data = [1,2,3,4,5]
series= pd.Series(data)
print("Series is \n", series)

Series is
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
#creating series from dictionary
data2={
        'a':1, 
        'b':2, 
        'c':3,
        'd':4,
        'e':5
    }
series_dict = pd.Series(data2)
print(series_dict)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
data3= [10,20,30]
index=['A','B','C']
series3= pd.Series(data3, index=index)
print(series3)

A    10
B    20
C    30
dtype: int64

DataFrame

In [8]:
#create a Dataframe from dictionary of list
data4={
    'Name':['Sia', 'Saumya','Medha'],
    'Age' :[21,23,22],
    'City':['Gurugram', 'Bangalore', 'Mysore'],
}
df=pd.DataFrame(data4)
print(df)

     Name  Age       City
0     Sia   21   Gurugram
1  Saumya   23  Bangalore
2   Medha   22     Mysore

In [10]:
#create a Dataframe from list of Dictionaries
data5=[
   { 'Name':'Sia', 'Age' :21, 'City':'Gurugram'},
   { 'Name':'Saumya', 'Age' :23, 'City':'Bangalore'},
   { 'Name':'Medha', 'Age' :22, 'City':'Mysore'},
    ]
df2=pd.DataFrame(data5)
print(df2)

     Name  Age       City
0     Sia   21   Gurugram
1  Saumya   23  Bangalore
2   Medha   22     Mysore

In [13]:
df3= pd.read_csv('Orders.csv')
print(df3.head())
print("\n")
print(df3.tail())

  Order ID  Order Date CustomerName           State     City
0  B-26055  10-03-2018    Harivansh   Uttar Pradesh  Mathura
1  B-25993  03-02-2018       Madhav           Delhi    Delhi
2  B-25973  24-01-2018  Madan Mohan   Uttar Pradesh  Mathura
3  B-25923  27-12-2018        Gopal     Maharashtra   Mumbai
4  B-25757  21-08-2018     Vishakha  Madhya Pradesh   Indore


    Order ID  Order Date CustomerName             State     City
495  B-25742  03-08-2018       Ashwin               Goa      Goa
496  B-26088  26-03-2018       Bhavna            Sikkim  Gangtok
497  B-25707  01-07-2018      Shivani       Maharashtra   Mumbai
498  B-25758  22-08-2018      Shubham  Himachal Pradesh    Simla
499  B-26095  28-03-2018      Monisha         Rajasthan   Jaipur

Acccessing Data from DataFrames

In [19]:
print(df2)
print("\n")
print(df2['Name'])
print("\n")
print(df2.loc[0])

     Name  Age       City
0     Sia   21   Gurugram
1  Saumya   23  Bangalore
2   Medha   22     Mysore


0       Sia
1    Saumya
2     Medha
Name: Name, dtype: object


Name         Sia
Age           21
City    Gurugram
Name: 0, dtype: object

Acccessing a specific Element

In [23]:
print(df2)
print("\n")

#age at the index 1
print(df2.at[1,'Age'])
print("\n")


#Name at the index 2
print(df2.at[2,'Name'])

     Name  Age       City
0     Sia   21   Gurugram
1  Saumya   23  Bangalore
2   Medha   22     Mysore


23


Medha

In [24]:
#Acccessing a specificied element using iat
#basically here we are going to give row and col index.
print(df2.iat[1,1])

23

Data manipulation using DataFrame

In [29]:
#col added
df2['Salary']= [50000,60000,7000]
print(df2)

     Name  Age       City  Salary
0     Sia   21   Gurugram   50000
1  Saumya   23  Bangalore   60000
2   Medha   22     Mysore    7000

In [33]:
#remove col
df2.drop('Salary',axis=1, inplace=True)

In [36]:
df2['Age']= df2['Age']+1
print(df2)

     Name  Age       City
0     Sia   22   Gurugram
1  Saumya   24  Bangalore
2   Medha   23     Mysore

In [38]:
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      500 non-null    object
 1   Order Date    500 non-null    object
 2   CustomerName  500 non-null    object
 3   State         500 non-null    object
 4   City          500 non-null    object
dtypes: object(5)
memory usage: 19.7+ KB
None